@import url("./variables.css");
@import url("./layout/header.css");
@import url("./layout/hero.css");
@import url("./layout/hero-banner.css");
@import url("./layout/footer.css");

@import url("./components/cards-grid.css");
@import url("./components/forms.css");
@import url("./components/utilidades.css");
@import url("./components/productos.css");
@import url("./components/section-title.css");

@import url("./pages/inicio.css");
@import url("./pages/equipo.css");
@import url("./pages/servicios.css");
@import url("./pages/citas.css");
@import url("./pages/perfil.css");
@import url("./pages/login.css");
@import url("./pages/contacto.css");
