<h2>SmileLab</h2>

<nav>
  <a routerLink="/inicio" routerLinkActive="active">Inicio</a>
  <a routerLink="/equipo" routerLinkActive="active">Equipo</a>
  <a routerLink="/servicios" routerLinkActive="active">Servicios</a>
  <a routerLink="/contacto" routerLinkActive="active">Contacto</a>
  <a routerLink="/login" routerLinkActive="active">Login</a>
  <a routerLink="/perfil" routerLinkActive="active">Perfil</a>
  <a routerLink="/citas" routerLinkActive="active">Mis Citas</a>
  <a routerLink="/admin-crear-producto" routerLinkActive="active">Admin</a>
</nav>
