<!-- Estructura visual (Template) del componente Login -->
<section class="login-page-container">
  <div class="login-header">
    <h2 class="login-main-title">Identifícate</h2>
  </div>
  
  <div class="login-card-wrapper">
    <form [formGroup]="loginForm" class="premium-login-form">
      <div class="login-input-group">
        <label>Correo electrónico:</label>
        <input type="email" formControlName="email" placeholder="tu@email.com">
        @if (loginForm.get('email')?.touched && loginForm.get('email')?.invalid) {
          <small class="error-text">Introduce un email válido.</small>
        }
      </div>
      
      <div class="login-input-group">
        <label>Contraseña:</label>
        <input type="password" formControlName="password" placeholder="Tu contraseña">
        @if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid) {
          <small class="error-text">Introduce tu contraseña.</small>
        }
      </div>
      
      @if (errorMessage) {
        <div class="login-error-message">
          {{ errorMessage }}
        </div>
      }

      <div class="login-action-container">
        <button type="button" (click)="onLogin()" class="btn-login-submit">
          Iniciar sesión →
        </button>
      </div>

      <div class="login-footer-links">
        <p>¿No tienes cuenta? <a routerLink="/registro">Regístrate aquí</a></p>
      </div>
    </form>
  </div>
</section>
