form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 4rem;
}

input {
    padding: 0.8rem;
    border: 1px solid var(--gris-borde);
    border-radius: 8px;
    background: #fdfdfd;
}

