/* Estilos para el componente section-title */

/* --- ORDENADOR (Desktop) - Estilos Base --- */
.section-title {
    text-align: center;
    font-size: clamp(1.5rem, 6vw, 2rem);
    color: var(--negro-smile);
    margin: 3rem 0 2rem;
    padding: 0 5%;
}
.section-title+div {
    padding: 0 10% 3rem;
}