<main>
  <section>
    <h1>Nuestro Equipo</h1>
    <p>En SmileLab contamos con un equipo de trabajo de 4 profesionales</p>
    <img src="" alt="Equipo SmileLab">
  </section>

  <section>
    <article>
      <img src="" alt="Odontólogo 1">
      <h3>Odontólogo 1</h3>
      <p>Call out a feature, benefit, or value of your site that can stand on its own.</p>
    </article>
    <article>
      <img src="" alt="Odontólogo 2">
      <h3>Odontólogo 2</h3>
      <p>Call out a feature, benefit, or value of your site that can stand on its own.</p>
    </article>
    <article>
      <img src="" alt="Odontólogo 3">
      <h3>Odontólogo 3</h3>
      <p>Call out a feature, benefit, or value of your site that can stand on its own.</p>
    </article>
  </section>
</main>