<div xlu-include-file="templates/hero.html" data-custom-class="team-hero" data-title="Nuestro Equipo"
    data-text="En SmileLab contamos con un equipo de trabajo de 4 profesionales" data-image-url="img/equipo.jpg"
    data-image-alt="Equipo SmileLab">
</div>

<section class="team-grid">
    <article>
        <div class="thumb-placeholder"></div>
        <h3>Odontólogo 1</h3>
        <p>Call out a feature, benefit, or value of your site that can stand on its own.</p>
    </article>
    <article>
        <div class="thumb-placeholder"></div>
        <h3>Odontólogo 2</h3>
        <p>Call out a feature, benefit, or value of your site that can stand on its own.</p>
    </article>
    <article>
        <div class="thumb-placeholder"></div>
        <h3>Odontólogo 3</h3>
        <p>Call out a feature, benefit, or value of your site that can stand on its own.</p>
    </article>
</section>