<header>
    <div class="logo-container">
        <span class="logo-icon"></span> <strong>SmileLab</strong>
    </div>
    <nav>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="templates/equipo.html">Equipo</a></li>
            <li><a href="templates/servicios.html">Servicios</a></li>
            <li><a href="templates/contacto.html">Contacto</a></li>
        </ul>
    </nav>
    <div class="header-actions">
        <a href="templates/perfil.html"><button>Perfil</button></a>
    </div>
</header>