<header>
    <div class="logo-container">
        <span class="logo-icon"></span> <strong>SmileLab</strong>
    </div>
    <nav>
        <ul>
            <li><a href="inicio.html">Inicio</a></li>
            <li><a href="equipo.html">Equipo</a></li>
            <li><a href="servicios.html">Servicios</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>
    <div class="header-actions">
        <a href="perfil.html"><button>Perfil</button></a>
    </div>
</header>