<header>
    <div class="logo-container">
        <a href="#inicio" class="logo-link">
            <img src="img/logo2.jpeg" alt="SmileLab" class="logo-img" onerror="this.style.display='none';">
            <span class="logo-text">SmileLab</span>
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="#inicio">Inicio</a></li>
            <li><a href="#equipo">Equipo</a></li>
            <li><a href="#servicios">Servicios</a></li>
            <li><a href="#contacto">Contacto</a></li>
        </ul>
    </nav>
    <div class="header-actions">
        <a href="#login"><button class="btn-dark">Perfil</button></a>
    </div>
</header>