<section class="pre-footer-products">
    <div class="product-container">

        <article class="product-card-mini">
            <header>
                <h4>Producto 1</h4>
            </header>
            <div class="product-image-container">
                <img src="" alt="Textura Producto 1">
            </div>
        </article>

        <article class="product-card-mini">
            <header>
                <h4>Producto 2</h4>
            </header>
            <div class="product-image-container">
                <img src="" alt="Textura Producto 2">
            </div>
        </article>

        <article class="product-card-mini">
            <header>
                <h4>Producto 3</h4>
            </header>
            <div class="product-image-container">
                <img src="" alt="Textura Producto 3">
            </div>
        </article>

    </div>
</section>