<section class="pre-footer-products">
    <div class="product-container">

        <a href="#producto" class="product-card-link">
            <article class="product-card-mini">
                <header>
                    <h4>Cepillos Eléctricos Sónicos</h4>
                </header>
                <div class="product-image-container product-placeholder-1">
                    <div class="product-img-placeholder"></div>
                </div>
            </article>
        </a>

        <a href="#producto" class="product-card-link">
            <article class="product-card-mini">
                <header>
                    <h4>Kits de Blanqueamiento en Casa</h4>
                </header>
                <div class="product-image-container product-placeholder-2">
                    <div class="product-img-placeholder"></div>
                </div>
            </article>
        </a>

        <a href="#producto" class="product-card-link">
            <article class="product-card-mini">
                <header>
                    <h4>Irrigadores Bucales</h4>
                </header>
                <div class="product-image-container product-placeholder-3">
                    <div class="product-img-placeholder"></div>
                </div>
            </article>
        </a>

    </div>
</section>