<section class="pre-footer-products">
    <div class="product-container">

        <a href="#producto" class="product-card-link">
            <article class="product-card-mini">
                <header>
                    <h4>Cepillo Eléctrico Sónico</h4>
                </header>
                <div class="product-image-container product-placeholder-1">
                    <img src="img/cepillo-electrico.jpg" alt="Cepillo Eléctrico Sónico" class="product-image">
                </div>
            </article>
        </a>

        <a href="#producto" class="product-card-link">
            <article class="product-card-mini">
                <header>
                    <h4>Kit de Blanqueamiento</h4>
                </header>
                <div class="product-image-container product-placeholder-2">
                    <img src="img/kit-blanqueamiento.jpg" alt="Kit de Blanqueamiento en Casa" class="product-image">
                </div>
            </article>
        </a>

        <a href="#producto" class="product-card-link">
            <article class="product-card-mini">
                <header>
                    <h4>Irrigador Bucal</h4>
                </header>
                <div class="product-image-container product-placeholder-3">
                    <img src="img/irrigador-bucal.jpg" alt="Irrigadores Bucales" class="product-image">
                </div>
            </article>
        </a>

    </div>
</section>