<main>
    <section>
        <h2>Soluciones para tu Salud Bucodental</h2>

        <article>
            <div class="img-box-gris"></div>
            <div>
                <h3>A really compelling headline</h3>
                <p>Call out a feature, benefit, or value of your site, then link to a page where people can learn more about it.</p>
            </div>
        </article>

        <article>
            <div class="img-box-gris"></div>
            <div>
                <h3>A really compelling headline</h3>
                <p>Call out a feature, benefit, or value of your site, then link to a page where people can learn more about it.</p>
            </div>
        </article>
    </section>
</main>