<main>
  <section>
    <h2>Mis Utilidades</h2>
    <div>
      <article>
        <div class="preview-img"></div>
        <h3>Mis citas</h3>
        <a href="#">Call to action -></a>
      </article>
      <article>
        <div class="preview-img"></div>
        <h3>Mi historial de citas</h3>
        <a href="#">Call to action -></a>
      </article>
      <article>
        <div class="preview-img"></div>
        <h3>Perfil</h3>
        <a href="#">Call to action -></a>
      </article>
    </div>
  </section>
</main>